/* centering is a nightmare, thank you @wesbos https://github.com/wesbos/keycodes/blob/gh-pages/style.css */
/* Reset */
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 4vw;
  margin-right: 4vw;
}

h1 {
  margin-bottom: 20px;
}
img.logo {
  max-width: 100%;
  margin-top: 100px;
}
.logo-container {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }
  .wrap {
    width: 80vw;
  }
}

section.prior-clients {
  margin-top: 200px;
  margin-bottom: 100px;
}
h2.prior-clients {
  margin-bottom: 40px;
}
quote {
  font-size: 22px;
  padding-bottom: 120px;
  display: block;
}

img.client-logo {
  margin-bottom: 40px;
}

#copyright {
  font-size: 18px;
  margin-bottom: 30px;
}

p.outreach {
  margin-top: 80px;
}

a {
  text-decoration: underline;
  color: black;
}
